<div class="header" th:fragment="banner">
    <div class="p-3 mb-2 bg-primary text-white">
        <div class="row align-items-start">
            <div class="col">
                <img class="img-responsive" src="../../static/resources/images/Four.jpg"
                     th:src="@{/resources/images/Four.jpg}" alt="Foursome" style="width:100px;height:100px;"/>
            </div>
            <div class="col">
                <br>
                <h1>The Grants</h1>
            </div>
            <div class="col">
                <img class="img-responsive" src="../../static/resources/images/Bellfield.jpg"
                     th:src="@{/resources/images/Bellfield.jpg}" alt="Bellfield" style="width:100px;height:100px;"/>
            </div>
        </div>
    </div>
</div>

