<!DOCTYPE html>
<!--suppress XmlHighlighting -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!--suppress SpellCheckingInspection -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--suppress SpellCheckingInspection -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <title>Grants - Census Entry Form</title>
</head>
<body>
<!--/*@thymesVar id="censusEntryCommand" type="scot.carricksoftware.grants.commands.census.CensusEntryCommand"*/-->
<!--/*@thymesVar id="person" type="scot.carricksoftware.grants.domains.people.Person"*/-->
<!--/*@thymesVar id="census" type="scot.carricksoftware.grants.domains.census.Census"*/-->

<div th:insert="~{fragments/layout::banner}"></div>

<div class="container border border-info
rounded-3 text-center p-4">
    <form th:object="${censusEntryCommand}" th:action="@{/censusEntry}" method="post">
        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            <p>Please Correct The Errors Below</p>
        </div>
        <div class="form-group row justify-content-center">
            <div class="col-md-2">
                <label for="id">Database Id<span style="color: rgb(255,0,0);">*</span></label>
                <input class="form-control" id="id"
                       th:field="*{id}" type="text" readonly>
            </div>

            <div class="col-xs-4" style="margin-right:20px;">
                <label for="census">Census</label>
                <div>
                    <select id="census" style="width: 500px;" name="census" th:field="*{census}">
                        <option th:value="${''}" th:text="${''}"></option>
                        <option th:each="census : ${censuses}"
                                th:value="${census.id}" th:text="${census.toString()}"></option>
                    </select>
                    <div th:if="${#fields.hasErrors('census')}">
                        <ul class="text-danger">
                            <li th:each="err : ${#fields.errors('census')}" th:text="${err}"/>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row justify-content-center">
            <div class="col-md-3" style="margin-right:20px;">
                <label for="person">Person</label>
                <div>
                    <select id="person" style="width: 200px;" name="person" th:field="*{person}">
                        <option th:value="${''}" th:text="${''}"></option>
                        <option th:each="person : ${people}"
                                th:value="${person.id}" th:text="${person.toString()}"></option>
                    </select>
                    <div th:if="${#fields.hasErrors('person')}">
                        <ul class="text-danger">
                            <li th:each="err : ${#fields.errors('person')}" th:text="${err}"/>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <label for="name">Untracked Person<span style="color: rgb(255,0,0);">+</span></label>
                <input class="form-control" id="name"
                       th:field="*{name}" type="text" style="width: 200px;">
                <div th:if="${#fields.hasErrors('name')}">
                    <ul class="text-danger">
                        <li th:each="err : ${#fields.errors('name')}" th:text="${err}" style="width: 300px;"/>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <label for="relationship">Relationship to Head</label>
                <div>
                    <select id="relationship" style="width: 200px;" name="relationship" th:field="*{relationship}">
                        <option th:value="${''}" th:text="${''}"></option>
                        <option th:each="value : ${T(scot.carricksoftware.grants.enums.censusentry.CensusEntryRelationship).values()}"
                                th:value="${value}" th:text="${value}"></option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <label for="condition">Condition</label>
                <div>
                    <select id="condition" style="width: 200px;" name="condition" th:field="*{condition}">
                        <option th:value="${''}" th:text="${''}"></option>
                        <option th:each="value : ${T(scot.carricksoftware.grants.enums.censusentry.CensusEntryCondition).values()}"
                                th:value="${value}" th:text="${value}"></option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <label for="gaelic">Gaelic</label>
                <div>
                    <select id="gaelic" style="width: 200px;" name="gaelic" th:field="*{gaelic}">
                        <option th:value="${''}" th:text="${''}"></option>
                        <option th:each="value : ${T(scot.carricksoftware.grants.enums.censusentry.CensusEntryGaelic).values()}"
                                th:value="${value}" th:text="${value}"></option>
                    </select>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Commit</button>
        <a class="btn btn-secondary" th:href="@{/censusEntries}" th:text="${'List all'}">List all</a>
        <a class="btn btn-success" th:href="@{/}" th:text="${'Home'}">Home</a>
        <h6><span style="color: rgb(255,0,0);">*</span><span> Cannot be edited</span></h6>
        <h6><span style="color: rgb(255,0,0);">+</span><span>Not further recorded</span></h6>
    </form>
</div>
</body>
</html>