<!doctype html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!--suppress SpellCheckingInspection -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Grants Application - writer home</title>
</head>
<body>

<div th:insert="~{fragments/layout::banner}"></div>

<div class="mx-auto" style="width:50%;text-align:center;">
    <h1 id="pageHeader">Writer Starter Page</h1>
    <table class="table table-bordered">

        <tbody>
        <tr>
            <td>
                <a class="btn btn-primary btn-lg btn-block" href="output">Specify Output</a>
            </td>
            <td>
                <a class="btn btn-primary btn-lg btn-block" href="Tex">Create Tex</a>
            </td>
            <td>
                <a class="btn btn-primary btn-lg btn-block" href="pdf">Build Pdf</a>
            </td>
            <td>
                <a class="btn btn-primary btn-lg btn-block" href="print">Print</a>
            </td>
        </tr>

        </tbody>
    </table>

</div>
</body>
</html>
